<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MyDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  <div class="wrapper">
  <header class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "My Diary", root_path, class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if signed_in? %>
            <li><%= link_to 'Diaries', diaries_path %></li>
            <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
            
          <% else %>
            <li><%= link_to 'Sign in', sign_in_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>
    
    <section class="container">
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash alert <%= alert_class(key) %>"><%= value %></div>
      <% end %>
    </div>
    <%= yield %>
    </section>
    <div class="push"></div>
    </div>
    <footer class="footer">
    <p>My Diaries, Bonifase's Copyright &copy; 2018</p>
    </footer>
  </body>
</html>
